/*/////#6C7789 logo color, color for header of inside form,. text color///////*/
/*/////#16A4FA arrow left and hover over button, underline of secondary nav tab, second wheel///////*/
/*////#49BBBF graph and first wheel color////////////*/
/*////#AF72B0 third wheel color/////////*/
/*////#3B475A aside background color///////////*/
/*////#EDF2F6 background of graph section///////////*/

html {

}

body {
  display: grid;
  grid-template-columns: 210px 1fr;
  background-color: #EDF2F6;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  margin: 0;
  height:;
}

.aside {
  grid-column: 1;
  width: 210px;
  height: auto;
  background-color: #3B475A;
  color: #6C7789;
}

.profile-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 170px;
}

.profile-pic {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.name-text {
  margin-top: 37px;
}

.down {
  height: 10px;
  width: 10px;
}

.aside-title {
  margin-left: 41px;
}

.aside-sub {
  line-height: 2.5rem;
  padding-top: .5rem;
  border-style: solid;
  border-bottom: 2px;
  border-top: ;
  border-left: none;
  border-right: none;
  border-color: #343F51;
}

.rest-of-aside {
  height: 40rem;
}


ul {
  list-style-type: none;
}

.aside-icon {
  margin-right: 10px;
  height:15px;
  width: 15px;

}

.yellow {
  color: #FADD06;
}

.red {
  color: #E4165E;
}

.green {
  color: #00A987;
}

.blue {
  color: #27AFFA;
}

header {
  display: grid;
  grid-template-columns: 95px 55px 1fr 95px 95px 95px;
  grid-column: 2;
  background-color: #FFFFFF;
  height: 85px;
  width: auto;
}

.nav-box {
  border-style: solid;
  border-width: 1px;
  border-color: #EDF2F6;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.hamburger-box:hover {
  color: #FFFFFF;
}


.fa-caret-left {
  height: 8px;
  color: #16A4FA;
  font-size: .1.25em;
  margin-right: 2px;
}

.fa-bars {
  font-size: 1.5em;
  color: #6C7789;
}

.search-icon-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-right: none;
  border-bottom: solid 1px #EDF2F6;
}

.search-icon {
  height: 20px;
}

.search-box {
  grid-column: 3;
  border-style: solid;
  border-width: 1px;
  border-color: #EDF2F6;
  font-size: 1.25em;
  padding-left: 10px;
  border-left: none;
}

.friends {
  height: 40px;
  color: #6C7789;
  font-size: 2em;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 325px;
  height: 80px;
  background-color: #FFFFFF;
  padding-left: 3rem;
  padding-top: 44px;
}

h1 {
  margin-bottom: 4px;
  font-size: 1.5em;
  color: #6C7789;
}

.location {
  margin-top: 5px;
  color: #6C7789;
}

.preview {
  margin-left: 5px;
  color: #01AAEF;
}

.preview-dot {
  font-size: 10px;
}

.main-location {
  height: 15px;
  width: 15px;
  color: #6C7789;
}

.btn-section {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
  margin-right: 32px;
}

.open-btn {
  border-style: solid;
  border-width: 2px;
  border-color: #6C7789;
  border-radius: 30px;
  background-color: #FFFFFF;
  line-height: 40px;
  width: 90px;
  opacity: .4;
  font-color: #6C7789;
}

.txt-bold {
  font-weight: 900;
}

.green-dot {
  font-size: .9em;
  color: #8AC12F;
  margin-right: 3px;
}

.ribbon-section {
  display: flex;
  align-items: center;
}

.round-btn {
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  border-color: #6C7789;
  background-color: #FFFFFF;
  opacity: .4;
  width: 40px;
  height: 40px;
  font-size: .9em;
}

.nav-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 86px;
  grid-column: 2;
  background-color: #FFFFFF;
  padding-left: 21px;
}

.nav-btn {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  height: 53px;
  width: 8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: #6C7789;
}

.nav-btn:hover {
  border-bottom-color: #16A4FA;
}

.graph-section {
  display: grid;
  grid-template-columns: 55% 1fr;
  background-color: #EDF2F6;
  height: 325px;
  padding-top: 28px;
  padding-left: 1.5rem;
}

.circle-section {
  grid-column: 1;
  padding-top: 20px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 217px;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 190px;
  max-height: 250px;
  min-height: 50px;
  min-width: 50px;
}

.circle-bg {
  fill: none;
  stroke: #DBE4EB;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #48B7C0;
}

.circular-chart.green .circle {
  stroke: #16A4FA;
}

.circular-chart.blue .circle {
  stroke: #AE6EAA;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: .2em;
  text-anchor: middle;
}

.bars {
  margin-right: 10px;
  width: 90%;
  height: 237px;
}

.bar-graph--btn {
  border-style: solid;
  border-width: 2px;
  border-color: #6C7789;
  border-radius: 30px;
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  line-height: 35px;
  width: 145px;
  opacity: .4;
  font-color: #6C7789;
  margin-left: 177px;
  margin-top: 14px;
}

.total-section {
  display: flex;
  justify-content: center;
}

.total {
  margin-left: 34%;
  width: 175px;
}

.page-break {
  height: 30px;
  background-color: #EDF2F6;
  margin-left: 3rem;
  margin-right: 4rem;
}
.page-break {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.page-break > span {
  position: relative;
  display: inline-block;
}
  
.page-break > span:before, .page-break > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: #6C7789;
  opacity: .7;
}

.page-break > span:before {
  right: 100%;
  margin-right: 15px;
}

.page-break > span:after {
  left: 100%;
  margin-left: 15px;
}

.break-btn {
  border-style: solid;
  border-width: 2px;
  border-color: #6C7789;
  border-radius: 30px;
  background-color: #FFFFFF;
  color: #6c7789;
  opacity: .7;
  height: 29px;
}

.bottom-section {
  display: grid;
  grid-template-columns: 1fr 31%;
  grid-column-gap: 45px;
  height: 940px;
  padding-left: 3rem;
  padding-top: 3rem;
}

.description-form {
  grid-column: 1;
  background-color: #FFFFFF;
  height: 900px;
}

.form-head {
  display: grid;
  grid-template-columns: 31.5% 1fr;
  height: 75px;
  color: #FFFFFF;
  background-color: #6C7789;
}

.edit-btn {
  height: 3em;
  width: 6em;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #FFFFFF;
  background-color: #7A88A3;
  border: transparent;
}

.left-column--form {
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.right-column--form {
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-form {
  color: #6C7789;
  margin-left: 0px;
  overflow: scroll
}

.main-right {
  font-size: .8em;
}

.form-section {
  display: grid;
  grid-template-columns: 30% 1fr;
  height: 75px;
  margin: 0px 30px 0px 30px;
  border-bottom: solid #6F7E95 1px;
}

.tall-form--section {
  display: grid;
  grid-template-columns: 30% 1fr;
  height: 185px;
  border-bottom: solid #6F7E95 1px;
  margin: 0px 30px 0px 30px;
  text-overflow: wrap;
}

.tall-form--left {
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
}

.tall-form--right {
  grid-column: 2;
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
}

.hiring-lead {
  height: 44px;
  border-radius: 49px;
  width: 43px;
}

.tom {
  margin-left: 10px;
}

.social-section {
  grid-column: 2;
  margin-right: 50px;
  height: 900px;
/*  overflow: scroll;*/
}

.quarter-section {
  height: 25%;
}

.border-btm {
  border-bottom: solid 2px #6C7789;
  height: 23%;
}

.widget {
  height: 26%;
}

.social {
  display: grid;
  grid-template-columns: 30% 1fr;
  width: 100%;
  height: 55px;
  padding: 0px;
  border: 0px;
  background-color: #4A6FC0;
  margin-bottom: 17px;
}

.twitter-btn {
    background-color: #01AAEF;
}

.linkd-btn {
      background-color: #01AAEF;
}

.icon-div {
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
  padding-left: 29px;
  color: #FFFFFF;
  font-size: 17px;
}

.name-div {
  display: flex;
  justify-content: flex-start;
  grid-column: 2;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
}

.link-p {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #6C7789;
  width: 100%;
}

.job-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 50px;
  padding-left: 10px;
  color: #6C7789;
  white-space: nowrap;
}

.copy-btn {
  height: 50px;
  border: transparent;
  width: 70px;
  background-color: #49BBBF;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.widget {
  height: 200px;
}

.upload {
  padding-top: 2px;
}


@media screen and (max-width: 1186px) {
  body {
    display: unset;
  }

  .aside {
    display: none;
  }

}

@media screen and (max-width: 930px) {
  .bar-graph--section {
    grid-column: 1;
  }

  .bar-graph--btn{
    margin-left: 40%;
    margin-top: 3rem;
  }

  .graph-section {
    height: 626px;
    display: unset;
    padding-top: 0px;
  }

  .bars {
  margin-right: 3px;
  margin-left: 5%;
  width: 90%;
  height: 329px;
  }

  .left-circ {
    padding-left: 2rem;
  }

  .right-circ {
    padding-right: 2rem;

  }
}

@media screen and (max-width: 836px) {

  .social-section {
    grid-column: 1;
  }

  .bottom-section {
    display: unset;
    margin-left: 10px;
    margin-right: 10px;
  }

  .description-form {
    margin-left: 15px;
    margin-right: 15px;
  }

  .social {
    width: 90%;
    margin-top: 15px;
    margin-left: 10%;
  }

  .border-btm {
    width: 90%;
    margin-left: 10%;
  }

  .upload {
    width: 90%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 743px) {
    .top-section {
    padding-top: 10px;
  }
}

@media screen and (max-width: 672px) {
/*  .gone {
    display: none;
  }*/

  .nav-btn {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  height: 53px;
  width: 6rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: .8em;
  color: #6C7789;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .search-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-box {
    display: none;
  }

  .top-section {
    /*padding-top: 10px;*/
    grid-template-columns: 1fr 235px;
  }

  .btn-section {
    height: 40px;
    width: 222px;
  }
}

@media screen and (max-width: 592px) {
  .service-rep {
    margin-top: 0px;
    font-size: 1em;
  }

  .top-section {
    padding-left: none;
  }
}


@media screen and (max-width: 574px){

  .flex-wrapper {
    flex-flow: column;
  }

  .circle-section {
    height: 39rem;
  }

  .bar-graph--btn {
    display: none;
    margin-left: 34%;
  }

  .right-circ {
    padding-right: 0px;
  }

  .left-circ {
    padding-left: 0px;
  }
}


@media screen and (max-width:562px) {
  .gone {
    display: none;
  }

  .not {
    display: none;
  }
  .resize {
  display: none;
  }

  .top-section {
    grid-template-columns: 1fr 100px;
  }

  .btn-section {
    width: 70px;
  }
  
    .nav-section {
    padding-left: 0px;
  }
}

@media screen and (max-width: 470px){
  .bro {
    display: none;
  }

  .left-column--form {
    font-size: .7em;
  }

  .right-column--form {
    font-size: .7em;
  }

    .nav-section {
    padding-left: 0px;
  }
}

@media screen and (max-width: 435px){
  .circle-section {
    height: 36rem;
  }

  .bar {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 394px){
  .act {
    display: none;
  }
    .nav-section {
    padding-left: 0px;
  }
}

@media screen and (max-width: 435px){
  .circle-section {
    height: 30rem;
  }
}

@media screen and (max-width: 330px){
  .circle-section {
    height: 24rem;
  }
}









